[submodule "mix/tn2"]
	path = mix/tn2
	url = git@bitbucket.org-bobbyliu117:bobbyliu117/tn2.git
[submodule "front/css-t1"]
	path = front/css-t1
	url = git@github.com:bobbyliu117/css-t1.git
[submodule "front/css-t2"]
	path = front/css-t2
	url = git@github.com:bobbyliu117/css-t2.git
[submodule "front/css-t3"]
	path = front/css-t3
	url = git@github.com:bobbyliu117/css-t3.git
[submodule "front/js-t1"]
	path = front/js-t1
	url = git@github.com:bobbyliu117/js-t1.git
[submodule "front/js-t2"]
	path = front/js-t2
	url = git@github.com:bobbyliu117/js-t2.git
[submodule "front/ts-t1"]
	path = front/ts-t1
	url = git@github.com:bobbyliu117/ts-t1.git
[submodule "front/css-t4"]
	path = front/css-t4
	url = git@github.com:bobbyliu117/css-t4.git
